@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

svg {
  @apply fill-dark-green !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
